<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Tasks:</strong>
  <%= @position.tasks %>
</p>

<p>
  <strong>Company:</strong>
  <%= @position.company.try(:name) %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
