<head>
<title>Skillset</title>
</head>

<h1>Listing skillsets</h1>

<table>
  <thead>
    <tr>
      <th>Resume</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @skillsets.each do |skillset| %>
      <tr>
        <td><%= skillset.resume_id %></td>
        <td><%= link_to 'Show', skillset %></td>
        <td><%= link_to 'Edit', edit_skillset_path(skillset) %></td>
        <td><%= link_to 'Destroy', skillset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skillset', new_skillset_path %>
